<nav class="bg-light_black relative z-[2]">
  <div
    class="flex font-body font-bold text-sm p-8 max-w-6xl mx-auto justify-between border-b border-solid border-[#4c4c4c]"
  >
    <div>
      <img src="assets/shared/desktop/logo.svg" />
    </div>
    <div>
      <ul class="text-white flex gap-x-8">
        <li>
          <a class="hover:text-hover cursor-pointer transition-colors">HOME</a>
        </li>
        <li>
          <a class="hover:text-hover cursor-pointer transition-colors"
            >HEADPHONES</a
          >
        </li>
        <li>
          <a class="hover:text-hover cursor-pointer transition-colors"
            >SPEAKERS</a
          >
        </li>
        <li>
          <a class="hover:text-hover cursor-pointer transition-colors"
            >EARPHONES</a
          >
        </li>
      </ul>
    </div>
    <div>
      <img src="assets/shared/desktop/icon-cart.svg" />
    </div>
  </div>
</nav>
