<div class="flex p-8 max-w-6xl mx-auto mb-12" >
    <div class="flex-1">
      <img class="rounded-md" src={{state.image}} />
    </div>
    <div class="flex-1 flex justify-center items-center">
      <div class="w-[28rem]">
        <p
          class="text-hover font-body text-base tracking-[0.5em] font-normal mb-4"
        >
          NEW PRODUCT
        </p>
        <h2 class="text-black text-4xl font-body font-medium mb-6">
          {{ state.title }}
        </h2>
        <p class="mb-12 font-body opacity-50 text-base">{{ state.description }}</p>
        <span class="text-lg"> {{ state.price }}</span>
        <div class="flex mt-12">
            <div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <app-button [title]="'ADD TO CART'" [color]="'#d87d4a'"/>
        </div>
      </div>
    </div>
  </div>