<section class="my-16">
  <div class="flex justify-between max-w-6xl mx-auto">
    <div class="flex-1 content-center pr-16 cursor-default">
      <h1
        class="font-body text-4xl font-semibold tracking-normal leading-[2.5rem] mb-12"
      >
        BRINGING YOU THE <span class="text-hover"> BEST </span> AUDIO GEAR
      </h1>
      <p class="font-body text-text text-base leading-[1.8rem]">
        Located at the heart of New York City, Audiophile is the premier store
        for high end headphones, earphones, speakers, and audio accessories. We
        have a large showroom and luxury demonstration rooms available for you
        to browse and experience a wide range of our products. Stop by our store
        to meet some of the fantastic people who make Audiophile the best place
        to buy your portable audio equipment.
      </p>
    </div>
    <div class="flex-1">
      <img
        src="assets/shared/desktop/image-best-gear.jpg"
        class="rounded-md max-h-[36rem] flex-1 ml-auto"
      />
    </div>
  </div>
</section>
